@using RazorHtmlEmails.RazorClassLib.Views.Emails.ForgotPassword
@using RazorHtmlEmails.RazorClassLib.Views.Shared
@model ForgotPasswordEmailViewModel

@{ ViewData["EmailTitle"] = "Reset Password"; }

<p>
    We're excited to give you this window back into ITAPS E-Bookkeeping. Just click the button below.
</p>

<br />

@await Html.PartialAsync("EmailButton", new EmailButtonViewModel("Reset Password", Model.ResetEmailUrl))

<br />

<p>
    We are concerned about your experience. Go to ITAPS E-Bookkeeping and leave us a suggestion.
</p>

<br />

<p>
    ITAPS Team
</p>