@using RazorHtmlEmails.RazorClassLib.Views.Emails.ConfirmAccount
@using RazorHtmlEmails.RazorClassLib.Views.Shared
@model ConfirmAccountEmailViewModel

@{
    ViewData["EmailTitle"] = "Welcome!";
}

<p>
    We're excited to have you get started. First, you need to confirm your account. Just press the button below.
</p>

<br />

@await Html.PartialAsync("EmailButton", new EmailButtonViewModel("Confirm Account", Model.ConfirmEmailUrl))

<br />

<p>
    We are concerned about your experience. Go to ITaPS E-Bookkeeping and leave us a suggestion.
</p>

<br />

<p>
    ITAPS Team
</p>