@{
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version.ToString();
}

<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                Palm Booking Auth
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <p>
                Palm Booking Auth 
            </p>
        </div>
        <div class="col-sm-8">
            <p>
                Click <a href="~/grants">here</a> to manage your stored grants.
            </p>
           @* <p>
                Click <a href='~/Identity/Account/Register' role="button">here</a> to Register.
            </p>*@
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            @*<p>
                Here are links to the
                <a href="https://github.com/identityserver/IdentityServer4">source code repository</a>,
                and <a href="https://github.com/identityserver/IdentityServer4.Samples">ready to use samples</a>.
            </p>*@
        </div>
    </div>
</div>
